# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env
.venv/
venv/
ENV/

# OS/Editor
.DS_Store
.idea/
.vscode/
*.swp

# Logs
logs/
*.log

# SQLite databases
*.sqlite3
*.sqlite3-*

# Byte-compiled / cache
*.egg-info/
.eggs/

# Misc
dist/
build/
.coverage
.pytest_cache/
.mypy_cache/
**/__snapshots__/
